/* 상단바 */
.custom-top-bar {
  background-color: #fff;
  color: #1d1d1d;
}
.custom-top-bar .logo-color {
  filter: none;
}
.custom-top-bar .pc-top-bar__user-menu a {
  filter: invert(1);
}
.custom-top-bar .tablet-top-bar__user-menu a {
  filter: invert(1);
}

.c-box > a:nth-child(2),
.c-box > a:nth-child(4) {
  rotate: -5deg;
}

.c-box > a:nth-child(3) {
  rotate: -2deg;
}

.cu-s1 {
  animation: cu-shose 10s linear infinite;
}
.cu-s2-box > div:hover > div {
  display: flex !important;
}

.s3ani > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.s3ani > img.active {
  opacity: 1;
}
.cu-s4 > div > img {
  mix-blend-mode: multiply;
}
.s4ani {
  animation: cu-shose 15s linear infinite;
}
.s4ani:hover {
  animation-play-state: paused;
}
.s4ani a:hover > div {
  display: flex !important;
}
@keyframes cu-shose {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-50%);
  }
}
@media (max-width: 1725px) {
  /* .c-box > a > p:nth-of-type(1) {
    font-size: 18px;
  }
  .c-box > a > p:nth-of-type(2) {
    font-size: 13px;
  } */
  .cu-s2 {
    height: 970px !important;
  }
  .s2font > a {
    font-size: 21px !important;
  }
  .s3font {
    gap: 25px;
  }
  .s3font > span:nth-of-type(1) {
    font-size: 46px !important;
  }
  .s3font > span:nth-of-type(2) {
    font-size: 16px !important;
  }
}
@media (max-width: 1440px) {
  /* .c-box > a > p:nth-of-type(1) {
    font-size: 16px;
  }
  .c-box > a > p:nth-of-type(2) {
    font-size: 11px;
  } */
  .cu-s2 {
    height: 810px !important;
  }
  .s2font > a {
    font-size: 16px !important;
  }
  .s3font {
    gap: 20px;
  }
  .s3font > span:nth-of-type(1) {
    font-size: 40px !important;
  }
  .s3font > span:nth-of-type(2) {
    font-size: 14px !important;
  }
}
@media (max-width: 1200px) {
  .cu-s1-1{
    max-height: fit-content !important;
  }
  .s1-cus{
    height: auto !important; 
  }
  .s1-scroll1{
    display: none !important;
  }
  .s1-scroll2{
    display: flex !important;
  }
  .cu-s2 {
    height: 675px !important;
  }
  .s2font {
    flex-direction: column;
    justify-content: end;
  }
  .s2font > a {
    font-size: 16px !important;
  }
  .s3font {
    gap: 20px;
  }
  .s3font > span:nth-of-type(1) {
    font-size: 32px !important;
  }
  .s3font > span:nth-of-type(2) {
    font-size: 12px !important;
  }
}
@media (max-width: 768px) {
  .cu-s2 {
    flex-direction: column;
    padding: 8%;
    width: auto !important;
    height: 100% !important;
  }
  .cu-s3 {
    flex-direction: column !important;
    padding: 10% 0;
  }
  .s2font {
    height: 200px;
    justify-content: center !important;
  }
}
@media (max-width: 500px) {
  
  .s1-scroll2 > a {
    width: 300px !important;
    height: 350px !important; 
  }
  .s1-scroll2 > a > p:nth-of-type(1) {
    font-size: 24px;
  }
  .s1-scroll2 > a > p:nth-of-type(2) {
    font-size: 18px;
  }

  .cu-s2-box {
    min-height: 0px !important;
    min-width: 0px !important;
  }
  
}