/* 상단 광고바 */
.top-ad-bar.on {
  display: none;
}

/* 상단바 스크롤 */
#pc-header.scrolled {
  background-color: #fff;
}
#pc-header.scrolled .logo-color {
  filter: none;
}
#pc-header.scrolled .pc-top-bar__user-menu a {
  filter: invert(1);
}
#pc-header.scrolled .pc-top-bar__menu01 > ul > li > a {
  color: #1d1d1d;
}

#tablet-header.scrolled {
  background-color: #fff;
}
#tablet-header.scrolled .logo-color {
  filter: none;
}
#tablet-header.scrolled .tablet-top-bar__user-menu a {
  filter: invert(1);
}

/* pc 상단바 */
.pc-top-bar.on {
  background-color: #fff;
  color: #1d1d1d;
}
.pc-top-bar .logo-color.on {
  filter: none;
}
.pc-top-bar__user-menu a.on {
  filter: invert(1) ;
}

.pc-top-bar__menu01 > ul > li > nav {
  border-top: solid #f0f0f0 1px;
}
.top-bar__menu02 a {
  display: block;
}

/* tablet 상단바 */
.tablet-top-bar .container.on {
  background-color: #fff;
}
.tablet-top-bar .logo-color.on {
  filter: none;
}
.tablet-top-bar__user-menu a.on {
  filter: invert(1);
}
/* tablet 상단바 버튼 */
.sidemenu-btn-open.on {
  display: none;
}
.sidemenu-btn-close.on {
  display: block;
}

/* tablet 사이드바 */
html.tablet-side-bar-actived > body {
  overflow-y: hidden;
} 

.tablet-side-bar {
  transform: translateX(100%);
}

.tablet-side-bar.on {
  transform: translateX(0);
  transition: transform .4s;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; }
}

.tablet-side-bar__menu > ul  li.on > a > div {
  display: block;
}
.tablet-side-bar__menu > ul  li:hover > a > div {
  display: block;
}
.tablet-side-bar__menu > ul  li.on > a > span {
  color: white;
}
.tablet-side-bar__menu > ul  li:hover > a > span {
  color: white;
}

.sidemenu-bg-1, .sidemenu-bg-2, .sidemenu-bg-3, .sidemenu-bg-4 {
  opacity: 0;
}

.tablet-side-bar__menu > ul > li:hover > a > div > .sidemenu-bg-1, .sidemenu-bg-2 {
  animation: fadeInOut .5s 0s;
}

.tablet-side-bar__menu > ul > li:hover > a > div > .sidemenu-bg-3, .sidemenu-bg-4 {
  animation: fadeInOut .5s 0.2s;
}

/* tablet 사이드바 2차메뉴 */
.tablet-side-bar__menu > ul ul {
  display: none;
}

.tablet-side-bar__menu > ul > li.on > ul {
  display: block;
  position: absolute;
  /* left: 250px; */
  bottom: 0;
  right: 0;
  background-color: #1d1d1d;
  color: white;
  z-index: 10;
}

.tablet-side-bar__menu > ul > li > ul > li.on > div > div {
  transform: rotate(0);
}

.tablet-side-bar__menu > ul > li > ul > li > ul > li:hover > a {
  color: #D41F1F;
}


/* 모바일 사이드바 */
html.mobile-side-bar-actived > body {
  overflow-y: hidden;
} 

.mobile-side-bar {
  transform: translateX(100%);
}

.mobile-side-bar.on {
  transform: translateX(0);
  transition: transform .4s;
}

/* 모바일 사이드메뉴 */
.mobile-side-bar__menu > ul > li > ul ul {
  display: none;
}

.mobile-side-bar__menu > ul > li > ul {
  transform: translateX(100%);
}
.mobile-side-bar__menu > ul > li.on > ul {
  transform: translateX(0);
  transition: transform .4s;
}

.mobile-side-bar__menu > ul > li > ul > li.on > ul {
  display: block;
}

.mobile-side-bar__menu > ul > li > ul > li.on > div > div {
  transform: rotate(0);
}