@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 커스텀 시작 */
html > body {
  background-color: #1d1d1d;
  font-family: "Pretendard Variable", sans-serif;
  /* cursor: none; */
  /* cursor: url("../img/main/mause_pointer16.png") 8 8, auto !important; */
}
::-webkit-scrollbar {
  width: 5px; /* 스크롤바의 너비 */
  height: 5px; /* 수평 스크롤바의 높이 */
}
/* 스크롤바 배경 */
::-webkit-scrollbar-track {
  background: #1d1d1d; /* 스크롤바 트랙의 배경색 */
  border-radius: 5px; /* 트랙의 둥근 모서리 */
}
/* 스크롤바 핸들 */
::-webkit-scrollbar-thumb {
  background: #888; /* 스크롤바 핸들의 색상 */
  border-radius: 6px; /* 핸들의 둥근 모서리 */
}
/* 핸들에 호버했을 때 색상 변경 */
::-webkit-scrollbar-thumb:hover {
  background: #fff; /* 핸들을 호버했을 때의 색상 */
}
/* 커스텀 마우스 */
.custom-cursor {
  position: absolute;
  mix-blend-mode: difference;
  width: 16px; /* 커서 이미지의 너비 */
  height: 16px; /* 커서 이미지의 높이 */
  background-color: #d41f1f;
  border-radius: 50%;
  pointer-events: none; /* 클릭 이벤트를 막기 위해 */
  opacity: 1; /* 투명도 설정 */
  transition: transform 0.5s ease; /* 부드러운 전환 효과 */
  z-index: 10;
}
.container {
  max-width: 1920px;
}
/* 커스텀 끝 */

/* 메인 화면 */
iframe {
  pointer-events: none;
}

.mask {
  overflow: visible;
  background-color: #1d1d1d;
  width: 4058px;
  animation: shose_move 20s linear infinite;
  display: flex;
  z-index: 0;
}

.mask:hover {
  animation-play-state: paused;
  /* cursor: url("../img/main/mause_pointer120.png") 60 60, auto !important; */
}

.mask > img {
  mix-blend-mode: screen;
  max-width: 359px;
  width: 100%;
  height: auto;
}
.white-ani{
  animation: font-move-left 20s linear infinite;
}
.black-ani{
  animation: font-move-right 20s linear infinite;
}



@keyframes shose_move {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-50%);
  }
}
@keyframes font-move-left {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-50%);
  }
}
@keyframes font-move-right {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(+50%);
  }
}

@media (max-width: 1440px) {
  .wysp {
    font-size: 40px !important;
  }

  .mask {
    width: 3108px !important;
  }

  .mask > img {
    max-width: 264px !important;
  }
  .more {
    width: 192px;
    height: 56px;
  }
}
@media (max-width: 1200px) {
  .wys {
    padding: 140px 0 !important;
  }

  .wysp {
    font-size: 26px !important;
  }

  .mask {
    width: 2618px !important;
  }

  .mask > img {
    max-width: 215px !important;
  }
  .s4{
    padding: 170px 48px !important;
  }
}

@media (max-width: 768px) {
  .wys {
    padding: 100px 0 !important;
  }

  .mask {
    width: 1616px !important;
    gap: 24px !important;
  }

  .mask > img {
    max-width: 140px !important;
  }
  .more {
    width: 104px;
    height: 37px;
    font-size: 14px;
    top: 75% !important;
  }
  .s4{
    padding: 100px 48px !important;
  }
  .img-area{
    flex-direction: column;
  }
  .btns > button {
    font-size: 14px !important;
  }
  .white-ani{
    font-size: 67px !important;
    width: 2616.41px;
  }
  .black-ani{
    font-size: 67px !important;
    width: 2616.41px;
  }
}
