@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container{
  width: 100%;
}

@media (min-width: 450px){
  .container{
    max-width: 450px;
  }
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1000px){
  .container{
    max-width: 1000px;
  }
}

@media (min-width: 1200px){
  .container{
    max-width: 1200px;
  }
}

@media (min-width: 1280px){
  .container{
    max-width: 1280px;
  }
}

@media (min-width: 1480px){
  .container{
    max-width: 1480px;
  }
}

@media (min-width: 1536px){
  .container{
    max-width: 1536px;
  }
}

@media (min-width: 1700px){
  .container{
    max-width: 1700px;
  }
}

.invisible{
  visibility: hidden;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.sticky{
  position: sticky;
}

.inset-0{
  inset: 0px;
}

.bottom-0{
  bottom: 0px;
}

.bottom-10{
  bottom: 2.5rem;
}

.bottom-\[-20px\]{
  bottom: -20px;
}

.bottom-\[14\%\]{
  bottom: 14%;
}

.bottom-\[20px\]{
  bottom: 20px;
}

.bottom-\[2rem\]{
  bottom: 2rem;
}

.bottom-\[48px\]{
  bottom: 48px;
}

.left-0{
  left: 0px;
}

.left-\[10\%\]{
  left: 10%;
}

.left-\[250px\]{
  left: 250px;
}

.left-\[7\%\]{
  left: 7%;
}

.left-\[8px\]{
  left: 8px;
}

.right-0{
  right: 0px;
}

.right-\[-8px\]{
  right: -8px;
}

.right-\[100\%\]{
  right: 100%;
}

.right-\[2rem\]{
  right: 2rem;
}

.right-\[5\%\]{
  right: 5%;
}

.right-\[7\%\]{
  right: 7%;
}

.top-0{
  top: 0px;
}

.top-\[-16px\]{
  top: -16px;
}

.top-\[0\]{
  top: 0;
}

.top-\[12\%\]{
  top: 12%;
}

.top-\[140px\]{
  top: 140px;
}

.top-\[25\%\]{
  top: 25%;
}

.top-\[30\%\]{
  top: 30%;
}

.top-\[351px\]{
  top: 351px;
}

.top-\[5\%\]{
  top: 5%;
}

.top-\[70px\]{
  top: 70px;
}

.top-\[8px\]{
  top: 8px;
}

.top-auto{
  top: auto;
}

.top-full{
  top: 100%;
}

.z-10{
  z-index: 10;
}

.z-50{
  z-index: 50;
}

.z-\[-10\]{
  z-index: -10;
}

.z-\[0\]{
  z-index: 0;
}

.z-\[10\]{
  z-index: 10;
}

.z-\[1\]{
  z-index: 1;
}

.z-\[30\]{
  z-index: 30;
}

.z-\[49\]{
  z-index: 49;
}

.z-\[50\]{
  z-index: 50;
}

.z-\[51\]{
  z-index: 51;
}

.z-\[5\]{
  z-index: 5;
}

.-m-2{
  margin: -0.5rem;
}

.mx-0{
  margin-left: 0px;
  margin-right: 0px;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.-mt-\[90px\]{
  margin-top: -90px;
}

.ml-\[43px\]{
  margin-left: 43px;
}

.ml-\[48px\]{
  margin-left: 48px;
}

.mr-\[48px\]{
  margin-right: 48px;
}

.mt-3{
  margin-top: 0.75rem;
}

.mt-\[-10px\]{
  margin-top: -10px;
}

.mt-\[-20px\]{
  margin-top: -20px;
}

.mt-\[-38px\]{
  margin-top: -38px;
}

.mt-\[-50px\]{
  margin-top: -50px;
}

.mt-\[10px\]{
  margin-top: 10px;
}

.mt-\[12px\]{
  margin-top: 12px;
}

.mt-\[16px\]{
  margin-top: 16px;
}

.mt-\[18px\]{
  margin-top: 18px;
}

.mt-\[20px\]{
  margin-top: 20px;
}

.mt-\[24px\]{
  margin-top: 24px;
}

.mt-\[2px\]{
  margin-top: 2px;
}

.mt-\[30px\]{
  margin-top: 30px;
}

.mt-\[4px\]{
  margin-top: 4px;
}

.mt-\[50px\]{
  margin-top: 50px;
}

.mt-\[51px\]{
  margin-top: 51px;
}

.mt-\[6px\]{
  margin-top: 6px;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.aspect-\[1280\/720\]{
  aspect-ratio: 1280/720;
}

.aspect-square{
  aspect-ratio: 1 / 1;
}

.h-\[100\%\]{
  height: 100%;
}

.h-\[100dvh\]{
  height: 100dvh;
}

.h-\[100px\]{
  height: 100px;
}

.h-\[107px\]{
  height: 107px;
}

.h-\[1080px\]{
  height: 1080px;
}

.h-\[16px\]{
  height: 16px;
}

.h-\[20px\]{
  height: 20px;
}

.h-\[24px\]{
  height: 24px;
}

.h-\[31px\]{
  height: 31px;
}

.h-\[35\.5px\]{
  height: 35.5px;
}

.h-\[36px\]{
  height: 36px;
}

.h-\[39px\]{
  height: 39px;
}

.h-\[40px\]{
  height: 40px;
}

.h-\[42px\]{
  height: 42px;
}

.h-\[480px\]{
  height: 480px;
}

.h-\[50\%\]{
  height: 50%;
}

.h-\[50px\]{
  height: 50px;
}

.h-\[55px\]{
  height: 55px;
}

.h-\[56\%\]{
  height: 56%;
}

.h-\[56px\]{
  height: 56px;
}

.h-\[57\%\]{
  height: 57%;
}

.h-\[57px\]{
  height: 57px;
}

.h-\[59\%\]{
  height: 59%;
}

.h-\[600px\]{
  height: 600px;
}

.h-\[64px\]{
  height: 64px;
}

.h-\[65\%\]{
  height: 65%;
}

.h-\[650px\]{
  height: 650px;
}

.h-\[657px\]{
  height: 657px;
}

.h-\[7px\]{
  height: 7px;
}

.h-\[8\%\]{
  height: 8%;
}

.h-\[80dvh\]{
  height: 80dvh;
}

.h-\[8px\]{
  height: 8px;
}

.h-\[90\%\]{
  height: 90%;
}

.h-\[90px\]{
  height: 90px;
}

.h-auto{
  height: auto;
}

.h-full{
  height: 100%;
}

.h-\[90dvh\]{
  height: 90dvh;
}

.h-\[419p\]{
  height: 419p;
}

.h-\[419px\]{
  height: 419px;
}

.h-\[\]{
  height: ;
}

.h-\[420px\]{
  height: 420px;
}

.h-\[1023px\]{
  height: 1023px;
}

.h-\[900px\]{
  height: 900px;
}

.h-\[700px\]{
  height: 700px;
}

.h-\[00px\]{
  height: 00px;
}

.h-\[750px\]{
  height: 750px;
}

.h-\[400px\]{
  height: 400px;
}

.max-h-\[1330px\]{
  max-height: 1330px;
}

.max-h-\[810px\]{
  max-height: 810px;
}

.max-h-\[970px\]{
  max-height: 970px;
}

.max-h-\[467px\]{
  max-height: 467px;
}

.min-h-\[330px\]{
  min-height: 330px;
}

.w-\[100\%\]{
  width: 100%;
}

.w-\[100px\]{
  width: 100px;
}

.w-\[107px\]{
  width: 107px;
}

.w-\[109px\]{
  width: 109px;
}

.w-\[13\%\]{
  width: 13%;
}

.w-\[134px\]{
  width: 134px;
}

.w-\[14\%\]{
  width: 14%;
}

.w-\[150px\]{
  width: 150px;
}

.w-\[159px\]{
  width: 159px;
}

.w-\[16\%\]{
  width: 16%;
}

.w-\[16px\]{
  width: 16px;
}

.w-\[18\%\]{
  width: 18%;
}

.w-\[180px\]{
  width: 180px;
}

.w-\[192px\]{
  width: 192px;
}

.w-\[204px\]{
  width: 204px;
}

.w-\[20px\]{
  width: 20px;
}

.w-\[21\%\]{
  width: 21%;
}

.w-\[21\.5px\]{
  width: 21.5px;
}

.w-\[22\%\]{
  width: 22%;
}

.w-\[23\%\]{
  width: 23%;
}

.w-\[24\.4\%\]{
  width: 24.4%;
}

.w-\[24px\]{
  width: 24px;
}

.w-\[25\%\]{
  width: 25%;
}

.w-\[250px\]{
  width: 250px;
}

.w-\[30\%\]{
  width: 30%;
}

.w-\[4367px\]{
  width: 4367px;
}

.w-\[47px\]{
  width: 47px;
}

.w-\[57\%\]{
  width: 57%;
}

.w-\[60\%\]{
  width: 60%;
}

.w-\[65px\]{
  width: 65px;
}

.w-\[6px\]{
  width: 6px;
}

.w-\[8px\]{
  width: 8px;
}

.w-\[90\%\]{
  width: 90%;
}

.w-\[90px\]{
  width: 90px;
}

.w-\[93px\]{
  width: 93px;
}

.w-\[95\%\]{
  width: 95%;
}

.w-\[95px\]{
  width: 95px;
}

.w-\[96px\]{
  width: 96px;
}

.w-auto{
  width: auto;
}

.w-full{
  width: 100%;
}

.min-w-\[200px\]{
  min-width: 200px;
}

.min-w-\[330px\]{
  min-width: 330px;
}

.max-w-\[434px\]{
  max-width: 434px;
}

.max-w-\[810px\]{
  max-width: 810px;
}

.max-w-\[882px\]{
  max-width: 882px;
}

.flex-1{
  flex: 1 1 0%;
}

.flex-grow{
  flex-grow: 1;
}

.-rotate-90{
  --tw-rotate: -90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180{
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scale-0{
  --tw-scale-x: 0;
  --tw-scale-y: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer{
  cursor: pointer;
}

.resize{
  resize: both;
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-rows-2{
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid-rows-3{
  grid-template-rows: repeat(3, minmax(0, 1fr));
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.justify-start{
  justify-content: flex-start;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-3{
  gap: 0.75rem;
}

.gap-\[10px\]{
  gap: 10px;
}

.gap-\[18px\]{
  gap: 18px;
}

.gap-\[2px\]{
  gap: 2px;
}

.gap-\[80px\]{
  gap: 80px;
}

.overflow-hidden{
  overflow: hidden;
}

.whitespace-nowrap{
  white-space: nowrap;
}

.text-wrap{
  text-wrap: wrap;
}

.rounded{
  border-radius: 0.25rem;
}

.rounded-full{
  border-radius: 9999px;
}

.border{
  border-width: 1px;
}

.border-\[\#dc2020\]{
  --tw-border-opacity: 1;
  border-color: rgb(220 32 32 / var(--tw-border-opacity));
}

.border-\[black\]{
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.border-\[white\]{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.bg-\[\#00000020\]{
  background-color: #00000020;
}

.bg-\[\#00000050\]{
  background-color: #00000050;
}

.bg-\[\#1d1d1d\]{
  --tw-bg-opacity: 1;
  background-color: rgb(29 29 29 / var(--tw-bg-opacity));
}

.bg-\[\#D41F1F\]{
  --tw-bg-opacity: 1;
  background-color: rgb(212 31 31 / var(--tw-bg-opacity));
}

.bg-\[\#faf6f1\]{
  --tw-bg-opacity: 1;
  background-color: rgb(250 246 241 / var(--tw-bg-opacity));
}

.bg-\[\#ffffff\]{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-\[black\]{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-\[blue\]{
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 255 / var(--tw-bg-opacity));
}

.bg-\[green\]{
  --tw-bg-opacity: 1;
  background-color: rgb(0 128 0 / var(--tw-bg-opacity));
}

.bg-\[none\]{
  background-color: none;
}

.bg-\[white\]{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-myblack{
  --tw-bg-opacity: 1;
  background-color: rgb(29 29 29 / var(--tw-bg-opacity));
}

.bg-myred{
  --tw-bg-opacity: 1;
  background-color: rgb(212 31 31 / var(--tw-bg-opacity));
}

.bg-pink-50{
  --tw-bg-opacity: 1;
  background-color: rgb(253 242 248 / var(--tw-bg-opacity));
}

.bg-red-300{
  --tw-bg-opacity: 1;
  background-color: rgb(252 165 165 / var(--tw-bg-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-cover{
  background-size: cover;
}

.bg-center{
  background-position: center;
}

.bg-no-repeat{
  background-repeat: no-repeat;
}

.object-contain{
  -o-object-fit: contain;
     object-fit: contain;
}

.p-\[10px\]{
  padding: 10px;
}

.p-\[30px\]{
  padding: 30px;
}

.px-1\.5{
  padding-left: 0.375rem;
  padding-right: 0.375rem;
}

.px-\[10\%\]{
  padding-left: 10%;
  padding-right: 10%;
}

.px-\[10px\]{
  padding-left: 10px;
  padding-right: 10px;
}

.px-\[115px\]{
  padding-left: 115px;
  padding-right: 115px;
}

.px-\[180px\]{
  padding-left: 180px;
  padding-right: 180px;
}

.px-\[20px\]{
  padding-left: 20px;
  padding-right: 20px;
}

.px-\[23px\]{
  padding-left: 23px;
  padding-right: 23px;
}

.px-\[24px\]{
  padding-left: 24px;
  padding-right: 24px;
}

.px-\[25px\]{
  padding-left: 25px;
  padding-right: 25px;
}

.px-\[30px\]{
  padding-left: 30px;
  padding-right: 30px;
}

.px-\[48px\]{
  padding-left: 48px;
  padding-right: 48px;
}

.px-\[8px\]{
  padding-left: 8px;
  padding-right: 8px;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-\[10px\]{
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-\[20px\]{
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-\[230px\]{
  padding-top: 230px;
  padding-bottom: 230px;
}

.py-\[24px\]{
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-\[30px\]{
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-\[330px\]{
  padding-top: 330px;
  padding-bottom: 330px;
}

.py-\[380px\]{
  padding-top: 380px;
  padding-bottom: 380px;
}

.py-\[50px\]{
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-\[6px\]{
  padding-top: 6px;
  padding-bottom: 6px;
}

.py-\[\]{
  padding-top: ;
  padding-bottom: ;
}

.py-\[500px\]{
  padding-top: 500px;
  padding-bottom: 500px;
}

.py-\[300px\]{
  padding-top: 300px;
  padding-bottom: 300px;
}

.py-\[400px\]{
  padding-top: 400px;
  padding-bottom: 400px;
}

.py-\[390px\]{
  padding-top: 390px;
  padding-bottom: 390px;
}

.pb-\[100px\]{
  padding-bottom: 100px;
}

.pb-\[200px\]{
  padding-bottom: 200px;
}

.pb-\[60px\]{
  padding-bottom: 60px;
}

.pt-\[100px\]{
  padding-top: 100px;
}

.pt-\[150px\]{
  padding-top: 150px;
}

.pt-\[24px\]{
  padding-top: 24px;
}

.pt-\[28px\]{
  padding-top: 28px;
}

.pt-\[3\%\]{
  padding-top: 3%;
}

.pt-\[30px\]{
  padding-top: 30px;
}

.pt-\[330px\]{
  padding-top: 330px;
}

.pt-\[40px\]{
  padding-top: 40px;
}

.pt-\[56px\]{
  padding-top: 56px;
}

.pt-\[60px\]{
  padding-top: 60px;
}

.pt-\[70px\]{
  padding-top: 70px;
}

.text-center{
  text-align: center;
}

.text-\[10px\]{
  font-size: 10px;
}

.text-\[114px\]{
  font-size: 114px;
}

.text-\[11px\]{
  font-size: 11px;
}

.text-\[12px\]{
  font-size: 12px;
}

.text-\[14px\]{
  font-size: 14px;
}

.text-\[15px\]{
  font-size: 15px;
}

.text-\[16px\]{
  font-size: 16px;
}

.text-\[18px\]{
  font-size: 18px;
}

.text-\[20px\]{
  font-size: 20px;
}

.text-\[24px\]{
  font-size: 24px;
}

.text-\[26px\]{
  font-size: 26px;
}

.text-\[28px\]{
  font-size: 28px;
}

.text-\[30px\]{
  font-size: 30px;
}

.text-\[46px\]{
  font-size: 46px;
}

.text-\[50px\]{
  font-size: 50px;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold{
  font-weight: 700;
}

.font-medium{
  font-weight: 500;
}

.font-normal{
  font-weight: 400;
}

.font-semibold{
  font-weight: 600;
}

.tracking-tighter{
  letter-spacing: -0.05em;
}

.text-\[\#CECECE\]{
  --tw-text-opacity: 1;
  color: rgb(206 206 206 / var(--tw-text-opacity));
}

.text-\[red\]{
  --tw-text-opacity: 1;
  color: rgb(255 0 0 / var(--tw-text-opacity));
}

.text-\[white\]{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-myblack{
  --tw-text-opacity: 1;
  color: rgb(29 29 29 / var(--tw-text-opacity));
}

.text-myred{
  --tw-text-opacity: 1;
  color: rgb(212 31 31 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.opacity-0{
  opacity: 0;
}

.opacity-\[0\.7\]{
  opacity: 0.7;
}

.opacity-\[80\%\]{
  opacity: 80%;
}

.opacity-\[60\%\]{
  opacity: 60%;
}

.opacity-\[50\%\]{
  opacity: 50%;
}

.brightness-0{
  --tw-brightness: brightness(0);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.grayscale{
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.invert{
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter{
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-500{
  transition-duration: 500ms;
}

.duration-700{
  transition-duration: 700ms;
}

/* 커스텀 시작 */

html > body {
  background-color: #1d1d1d;
  font-family: "Pretendard Variable", sans-serif;
  cursor: none;
  min-width: 350px;
}

::-webkit-scrollbar {
  width: 8px;
  /* 스크롤바의 너비 */
  height: 8px;
  /* 수평 스크롤바의 높이 */
}

/* 스크롤바 배경 */

::-webkit-scrollbar-track {
  background: #1d1d1d;
  /* 스크롤바 트랙의 배경색 */
  border-radius: 5px;
  /* 트랙의 둥근 모서리 */
}

/* 스크롤바 핸들 */

::-webkit-scrollbar-thumb {
  background: #888;
  /* 스크롤바 핸들의 색상 */
  border-radius: 6px;
  /* 핸들의 둥근 모서리 */
}

/* 핸들에 호버했을 때 색상 변경 */

::-webkit-scrollbar-thumb:hover {
  background: #fff;
  /* 핸들을 호버했을 때의 색상 */
}

/* 커스텀 마우스 */

.custom-cursor {
  position: absolute;
  width: 16px;
  /* 커서 이미지의 너비 */
  height: 16px;
  /* 커서 이미지의 높이 */
  background-color: #d41f1f;
  border-radius: 50%;
  pointer-events: none;
  /* 클릭 이벤트를 막기 위해 */
  opacity: 1;
  /* 투명도 설정 */
  transition: transform 0.5s ease;
  /* 부드러운 전환 효과 */
  z-index: 90;
}

.container {
  max-width: 1920px;
}

/* 퀵 버튼 */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.quick-btn__text {
  animation: spin 20s linear infinite;
}

/* 커스텀 끝 */

/* 메인 화면 */

iframe {
  pointer-events: none;
}

.mask {
  overflow: visible;
  background-color: #1d1d1d;
  width: 4058px;
  animation: shose_move 20s linear infinite;
  display: flex;
  z-index: 0;
}

.mask:hover {
  animation-play-state: paused;
}

.mask > img {
  mix-blend-mode: screen;
  max-width: 359px;
  width: 100%;
  height: auto;
}

.white-ani {
  animation: font-move-left 20s linear infinite;
}

.black-ani {
  animation: font-move-right 20s linear infinite;
}

.news_img a {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.news_img img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.s4 .responsive-img {
  width: 100%;
  min-width: 190px;
  height: auto;
}

@keyframes shose_move {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-50%);
  }
}

@keyframes font-move-left {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-50%);
  }
}

@keyframes font-move-right {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(+50%);
  }
}

@media (max-width: 1440px) {
  .wysp,
  .new-col,
  .vans-shoes,
  .jfy,
  .vn-txt {
    font-size: 40px !important;
  }

  .mask {
    width: 3108px !important;
  }

  .mask > img {
    max-width: 264px !important;
  }

  /* .more {
    width: 192px;
    height: 56px;
  } */

  .masonry-box-1__item {
    font-size: 16px !important;
  }
}

@media (max-width: 1200px) {
  .youtube-video-1 {
    margin-top: -70px !important;
  }

  .wys {
    padding: 140px 0 !important;
  }

  .wysp,
  .new-col,
  .vans-shoes,
  .jfy,
  .vn-txt {
    font-size: 26px !important;
  }

  .mask {
    width: 2618px !important;
  }

  .mask > img {
    max-width: 215px !important;
  }

  .s4 {
    padding: 170px 48px !important;
  }
}

@media (max-width: 768px) {
  .custom-cursor {
    display: none !important;
  }

  .youtube-video-1 {
    margin-top: -56px !important;
  }

  .wys {
    padding: 100px 0 !important;
  }

  .mask {
    width: 1616px !important;
    gap: 24px !important;
  }

  .mask > img {
    max-width: 140px !important;
  }

  /* .more {
    width: 104px;
    height: 37px;
    font-size: 14px;
    top: 75% !important;
  } */

  .s4 {
    padding: 100px 48px !important;
  }

  .img-area {
    flex-direction: column;
  }

  .white-ani {
    font-size: 67px !important;
    width: 2616.41px;
  }

  .black-ani {
    font-size: 67px !important;
    width: 2616.41px;
  }
}

@media (max-width: 450px) {
  .btns button {
    width: 48%;
  }
}

.after\:absolute::after{
  content: var(--tw-content);
  position: absolute;
}

.after\:right-\[-15px\]::after{
  content: var(--tw-content);
  right: -15px;
}

.after\:top-0::after{
  content: var(--tw-content);
  top: 0px;
}

.after\:h-\[8px\]::after{
  content: var(--tw-content);
  height: 8px;
}

.after\:w-\[8px\]::after{
  content: var(--tw-content);
  width: 8px;
}

.after\:rounded-full::after{
  content: var(--tw-content);
  border-radius: 9999px;
}

.after\:bg-myred::after{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(212 31 31 / var(--tw-bg-opacity));
}

.after\:content-\[\'\'\]::after{
  --tw-content: '';
  content: var(--tw-content);
}

.hover\:font-medium:hover{
  font-weight: 500;
}

.hover\:font-semibold:hover{
  font-weight: 600;
}

.hover\:tracking-\[-0\.1px\]:hover{
  letter-spacing: -0.1px;
}

.hover\:text-myred:hover{
  --tw-text-opacity: 1;
  color: rgb(212 31 31 / var(--tw-text-opacity));
}

.hover\:opacity-100:hover{
  opacity: 1;
}

.group:hover .group-hover\:top-\[-37\%\]{
  top: -37%;
}

.group:hover .group-hover\:flex{
  display: flex;
}

.group:hover .group-hover\:scale-100{
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:font-semibold{
  font-weight: 600;
}

.group:hover .group-hover\:text-myred{
  --tw-text-opacity: 1;
  color: rgb(212 31 31 / var(--tw-text-opacity));
}

.group:hover .group-hover\:opacity-100{
  opacity: 1;
}

.peer\/g1:hover ~ .peer-hover\/g1\:visible{
  visibility: visible;
}

.peer\/g2:hover ~ .peer-hover\/g2\:visible{
  visibility: visible;
}

.peer\/g3:hover ~ .peer-hover\/g3\:visible{
  visibility: visible;
}

.peer\/g4:hover ~ .peer-hover\/g4\:visible{
  visibility: visible;
}

.peer\/g5:hover ~ .peer-hover\/g5\:visible{
  visibility: visible;
}

.peer\/g6:hover ~ .peer-hover\/g6\:visible{
  visibility: visible;
}

@media (min-width: 640px){
  .sm\:bottom-\[20\%\]{
    bottom: 20%;
  }

  .sm\:block{
    display: block;
  }

  .sm\:hidden{
    display: none;
  }

  .sm\:h-\[24px\]{
    height: 24px;
  }

  .sm\:h-\[50px\]{
    height: 50px;
  }

  .sm\:h-\[70px\]{
    height: 70px;
  }

  .sm\:w-\[24px\]{
    width: 24px;
  }

  .sm\:w-\[90px\]{
    width: 90px;
  }

  .sm\:flex-row{
    flex-direction: row;
  }

  .sm\:gap-\[18px\]{
    gap: 18px;
  }

  .sm\:gap-\[20px\]{
    gap: 20px;
  }

  .sm\:px-\[48px\]{
    padding-left: 48px;
    padding-right: 48px;
  }

  .sm\:text-\[16px\]{
    font-size: 16px;
  }
}

@media (min-width: 768px){
  .md\:bottom-\[3rem\]{
    bottom: 3rem;
  }

  .md\:right-\[3rem\]{
    right: 3rem;
  }

  .md\:top-\[28\%\]{
    top: 28%;
  }

  .md\:block{
    display: block;
  }

  .md\:hidden{
    display: none;
  }

  .md\:h-\[130px\]{
    height: 130px;
  }

  .md\:h-\[140px\]{
    height: 140px;
  }

  .md\:h-\[26px\]{
    height: 26px;
  }

  .md\:h-\[86px\]{
    height: 86px;
  }

  .md\:w-1\/3{
    width: 33.333333%;
  }

  .md\:w-\[106px\]{
    width: 106px;
  }

  .md\:w-\[130px\]{
    width: 130px;
  }

  .md\:w-\[140px\]{
    width: 140px;
  }

  .md\:w-\[26px\]{
    width: 26px;
  }

  .md\:text-\[12px\]{
    font-size: 12px;
  }

  .md\:text-\[16px\]{
    font-size: 16px;
  }

  .md\:text-\[18px\]{
    font-size: 18px;
  }

  .group:hover .md\:group-hover\:top-\[-30\%\]{
    top: -30%;
  }
}

@media (min-width: 1000px){
  .md-2\:right-\[60px\]{
    right: 60px;
  }

  .md-2\:h-\[800px\]{
    height: 800px;
  }
}

@media (min-width: 1200px){
  .lg\:bottom-\[4rem\]{
    bottom: 4rem;
  }

  .lg\:right-\[4rem\]{
    right: 4rem;
  }

  .lg\:right-\[80px\]{
    right: 80px;
  }

  .lg\:block{
    display: block;
  }

  .lg\:hidden{
    display: none;
  }

  .lg\:h-\[1000px\]{
    height: 1000px;
  }

  .lg\:h-\[150px\]{
    height: 150px;
  }

  .lg\:h-\[160px\]{
    height: 160px;
  }

  .lg\:h-\[50px\]{
    height: 50px;
  }

  .lg\:h-\[90px\]{
    height: 90px;
  }

  .lg\:w-\[115px\]{
    width: 115px;
  }

  .lg\:w-\[150px\]{
    width: 150px;
  }

  .lg\:w-\[160px\]{
    width: 160px;
  }

  .lg\:w-\[54px\]{
    width: 54px;
  }

  .lg\:p-\[40px\]{
    padding: 40px;
  }

  .lg\:text-\[15px\]{
    font-size: 15px;
  }

  .lg\:text-\[18px\]{
    font-size: 18px;
  }

  .lg\:text-\[20px\]{
    font-size: 20px;
  }

  .group:hover .lg\:group-hover\:top-\[-27\%\]{
    top: -27%;
  }
}

@media (min-width: 1480px){
  .lg-2\:h-\[1200px\]{
    height: 1200px;
  }
}

@media (min-width: 1700px){
  .\33xl\:h-\[1500px\]{
    height: 1500px;
  }
}