:root{
  /* 색상 */
  --color-white: #fff;
  --color-black: #000;
  --color-footer: #1d1d1d;
  --color-bacgic: #f1f2ed;
  /* 폰트 크기 */
  --font-12 : 0.75rem;
  --font-14 : 14px;
  --font-15 : 15px;
  --font-16 : 1rem;
  --font-18 : 18px;
  --font-20 : 1.25rem;
  --font-24 : 1.5rem;
  --font-26 : 26px;
  --font-28 : 1.75rem;
  --font-30 : 30px;
  --font-32 : 2rem;
  --font-40 : 40px;
  --font-46 : 46px;
  /* 폰트 굴기 */
  --font-thin : 100;
  --font-extra-light : 200;
  --font-light : 300;
  --font-regular : 400;
  --font-medium : 500;
  --font-semi-bold : 600;
  --font-bold : 700;
  --font-extra-bold : 800;
  --font-black : 900;
}
/*  */
/* @font-face {
  font-family: ;

  src: url();
} */


*{
  max-width: 1920px;
  text-align: none;
  color: white;
}

/* 텍스트 스타일  */

/* heading */
.pc-text{
  font-size: var(--font-46) !important;
  font-weight: var(--font-semi-bold) !important;
}
.tablet-text{
  font-size: var(--font-40) !important;
  font-weight: var(--font-semi-bold) !important;
}
.mob-text{
  font-size: var(--font-26) !important;
  font-weight: var(--font-semi-bold) !important;
  
}

/* btn */
.pc-tablet-btn-text{
  font-size: var(--font-20) !important;
  font-weight: var(--font-medium) !important;
}

/* title */
.po-title-text {
  font-size: var(--font-32) !important;
  font-weight: var(--font-medium) !important;
}
.tablet-title-text {
  font-size: var(--font-26) !important;
  font-weight: var(--font-medium) !important;
}
.tablet-title-text {
  font-size: var(--font-16) !important;
  font-weight: var(--font-medium) !important;
}

/* product */
.chip-pc{
  font-size: var(--font-15) !important;
  font-weight: var(--font-medium) !important;
}
.title-pc{
  font-size: var(--font-18) !important;
  font-weight: var(--font-semi-bold) !important;
}
.price-pc{
  font-size: var(--font-18) !important;
  font-weight: var(--font-regular) !important;
}
.chip-mob{
  font-size: var(--font-12) !important;
  font-weight: var(--font-medium) !important;
}
.title-mob{
  font-size: var(--font-14) !important;
  font-weight: var(--font-semi-bold) !important;
}
.price-mob{
  font-size: var(--font-14) !important;
  font-weight: var(--font-regular) !important;
}

/* news */
.title-tag-news-pc{
  font-size: var(--font-16) !important;
  font-weight: var(--font-medium) !important;
}
.title-tag-news-mob{
  font-size: var(--font-12) !important;
  font-weight: var(--font-medium) !important;
}

/* footer */
.f-title{
  font-size: var(--font-16) !important;
  font-weight: var(--font-semi-bold) !important;
}
.f-body{
  font-size: var(--font-14) !important;
  font-weight: var(--font-medium) !important;
}
.f-caption{
  font-size: var(--font-12) !important;
  font-weight: var(--font-regular) !important;
}
.f-head{
  font-size: var(--font-30) !important;
  font-weight: var(--font-medium) !important;
}
.f-titel-mob{
  font-size: var(--font-14) !important;
  font-weight: var(--font-semi-bold) !important;
}
.f-body-mob{
  font-size: var(--font-14) !important;
  font-weight: var(--font-regular) !important;
}

/* menu */
.menu-title01 {
  font-size: var(--font-14) !important;
  font-weight: var(--font-medium) !important;
}
.menu-title01-t {
  font-size: var(--font-14) !important;
  font-weight: var(--font-semi-bold) !important;
}
.menu-title02 {
  font-size: var(--font-16) !important;
  font-weight: var(--font-medium) !important;
}
.menu-title02-t {
  font-size: var(--font-16) !important;
  font-weight: var(--font-semi-bold) !important;
}
.menu-title03 {
  font-size: var(--font-18) !important;
  font-weight: var(--font-medium) !important;
}
.menu-title03-t {
  font-size: var(--font-18) !important;
  font-weight: var(--font-semi-bold) !important;
}