body{
  color: var(--color-white) !important;
}
/* PC 본문 */
.footerpc{
  background-color: var(--color-black);
  padding: 60px 48px;
  padding-bottom: 100px;
}
@media (max-width : 768px) {
  .footerpc{
    display: none !important;
  }
}
.Information > nav > div > div {
  color: var(--color-white);
  font-size: var(--font-12);
  gap: 5px;
}
.Information > nav > div > div > p {
  opacity: 0.7 ;
}
.Information > nav > div > div > a {
  font-weight: 700;
}
.Information > nav > ul{
  gap: 10rem;
}
.Information > nav > ul > li {
  gap: 18px;
  display: flex;
  flex-direction: column;
}
.Information > nav > ul > li > p{
  font-size: var(--font-16);
  padding-bottom: 12px;
  font-weight: 600;
}
.Information > nav > ul > li > a{
  font-size: var(--font-14);
}
@media (max-width : 1161px ) { 
  .footerpc{
    height: 500px;
  }
  .Information > nav > ul{
    gap: 5rem;
  }
  .number > p {
    font-size: 20px;
  }
}
@media (max-width : 1003px ) { 
  .footerpc{
    height: 560px;
  }
  .Information > nav > ul{
    gap: 2rem;
  }
  .number > p {
    font-size: 20px;
  }
}
.sns > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  width: 2rem;
  height: 2rem;
}
.sns > ul > li > a > img {
  width: 1rem;
  height: 1rem;
}
/* 모바일 */